/* css styles */

/* Center-align figure captions*/
.figure-caption {
  text-align: center;
}

/* Hide BibTeX citation code*/
pre.quarto-appendix-bibtex {
    display: none;
  }
  
/* Hide "BibTeX citation:" text */
div.quarto-appendix-secondary-label:first-of-type {
    display: none;
}

/* Update blog card subtitle style */
.card-subtitle {
  line-height: 1.25;
  margin-top: 5px;
  font-size: large;
  font-weight: 100;
  color: gray;
}

/* Increase vertical space above reading time in blog cards */
.quarto-grid-item.listing-reading-time {
  padding-top: 7px;
}

/* Reduce vertical space between the Subscribe box after the body */
#quarto-appendix.default {
  margin-bottom: -75px;
}

/* Center align the subscribe box (the "Subscribe" header will not be aligned. -> need to be resolved!) */
/* div#mailchimp {
  text-align: center;
} */